.Home {
   
    height: 90vh;
    background: linear-gradient(180deg, black, rgb(27, 27, 27));
    background: linear-gradient(180deg,#001b35, #233247);
}

.container-home {
    height: 100%;
    // border: 2px solid rgb(200, 4, 4);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    // background: linear-gradient(180deg, black, rgb(27, 27, 27));
    // background: linear-gradient(180deg,#001b35, #233247);

}
.content{
    text-align: left;
}
.typewriter {
    color: rgb(101, 179, 238) ;
    font-size: 34px ;
    font-family:"Open Sans", sans-serif ;
}
.content {

    h2{
        color: rgb(191, 203, 214);
    }
  
    h1 {

        color: rgb(15, 209, 25);
        font-size: 3.2rem;
    }
    p {
        margin: 10px 0 30px;
        color: rgb(142, 148, 159);
        line-height: 24px;
    }


    a{
        text-decoration: none;
    }

    .link {

        background: linear-gradient(90deg ,rgba(131, 134, 170, 0.498), rgba(3, 38, 103, 0.629));
        padding: 13px 16px;
        color: rgb(209, 197, 195);
        display: flex;
        align-items: center;
        gap: 4px;
        width: fit-content;
        font-size: 1.4rem;
        cursor: pointer;
        border-radius: 6px;
    }
    span {
        transition: all .3s;
    }

    .link:hover {
        span {
            transform: rotate(90deg);
        }
    }
}

.heroImage {
    img {
        width: 600px;
        border-radius: 20px;
    }
}

@media (max-width: 840px) {

    .container-home {
        padding: 20px 60px;
    }

    .content {
        margin-right: 10px;
        h1 {
            font-size: 2.5rem;
        }
    }

    .container-home {
        padding-top: 80px;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .link {
        margin-bottom: 40px;
    }

    .heroImage {
        display: flex;
        justify-content: center;

        img {
            width: 45%;
        }
    }
}

@media (min-width: 1200px) {
    .container-home {
        justify-content: center;
    }

    .content {
        width: 45%;

        p {
            width: 60%;
        }
    }
}