*{
  margin : 0;
  font-family: 'Poppins',sans-serif;
  box-sizing : border-box;
  padding : 0;
  list-style: none;
  scroll-behavior: smooth;
  text-decoration: none;
}

.body{
  color: var(--text-color);
  background: var(--bg-color);
}

/* header */

header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  background: transparent;
  justify-content: space-between;
  right: 0;
  border-bottom: 1px solid transparent;
  padding: 22px 15%;
  transition: all.45s ease;
}
/* #resume-button-1{
 border: 2px solid blue;
 border-radius: 5px;
 padding: 2px 2px;
 color: #02050F;
 background-color:  #42b2e6; 
} */
:root{
  --second-bg-color: #202020;
  --bg-color: #02050F;
  --main-color: #42b2e6;
  --text-color: rgb(92, 90, 90);
    --second-color: #fff;
    --h2-font: 3rem;
    --big-font: 5rem;
    --p-font: 1.1rem;
}

/* logo */

.logo{
  font-size: 36px;
  color: var(--text-color); 
  font-weight: 750;
  letter-spacing: 2px;
}

span{
  color: var(--main-color);
}

/* nabbar */

.navlist{
  display: flex;
}

.navlist a{
  color: var(--main-color);
  font-size: 21px;
  font-weight: 500;
  margin: 0 25px;
  transition: all .45s ease;
}
.navlist a:hover{
  color: var(--main-color);
}
.navlist a.active{
  color: var(--main-color);
}

 #nav-menu{
 border-bottom-color: white;  
 background : var(--bg-color);
}

/* .navlist :hover{
  border-bottom-color: white;
} */

#menu-icon{
  color: var(--text-color);
  z-index: 10001;
  font-size: 35px;
  cursor: pointer;
  margin-left: 25px;
  display: none;
}

section{
  padding: 160px 15% 120px;
}

/* Home  */

#home{
  height: 100vh;
  margin-top: 6%;
  background-image: url("./assests/banner.png");
  position: relative;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.one{
  margin-right: 15px;
  padding: 0 15px;
  height: 32px;
  line-height: 31px;
  display: inline-block;
  font-size: 20px;
  background: var(--main-color);
  font-weight: 500;
  border-radius: 5px;
  color: var(--text-color)
}

.slide{
  margin-bottom: 20px;
}

.nav-link-home h1{
  color: var(--text-color);
  font-size: var(--big-font);
  font-weight: 750;
  line-height: 1.1;
  margin: 0 0 8px;
  
}

.two{
  display: inline-block;
  font-size: 20px;
  color:var(--second-color);
  font-weight: 500;

}
.nav-link-home h3{
  font-size: 3rem;
  color: var(--text-color);
  margin: 0 0 35px;
  font-weight: 750;
}

.button{
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.nav-link-home p{
  color: var(--second-color);
  font-size: var(--p-font);
  line-height: 1.1;
  margin-bottom: 40px;
}
 /* Resume */

#resume-link-2{
  display: inline-block;
  background: var(--main-color);
  border-radius: 6px;
  padding: 12px 25px 12px 10px;
  letter-spacing: 1px;
  color: var(--text-color);
  font-weight: 600;
  transition: all .45s ease;
  font-size: 1rem;
  border:  solid 0px;
}

#resume-link-1{
  border: 0px solid white;
  background:var(--second-color)
}

#resume-link-2:hover{
  transform: scale(1.2);
}

#user-detail-skill{
  font-weight: 500;
  font-size: 45px;
}



header.sticky{
  padding:  12px 15%;
  background: var(--bg-color);
  border-bottom:  1px solid #ffffff1a;
}
#user-detail-name{
  font-weight: 800;
  font-size: 55px;
}


/* About */


#about{
  grid-template-columns: repeat(2,1fr);
  border: 0px solid #42b2e6;
  display: grid;
  align-items: center;  
}
.about-img img{
  width: 300px;
  max-width: 350px;
  height: 400px;
  border-radius: 11%;
  align-items: end;
}

.nav-link-about h2{
  font-size: var(--h2-font);
  line-height: 1;
}


.nav-link-about p{
  font-size: var(--p-font);
  color: var(--second-color);
  margin-bottom: 4rem;
  line-height: 1.8;
}

.nav-link-about h4{
  line-height: 1.7;
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color);
  margin:  15px 0 30px;
}

/* skills */

.main-text{
  text-align: center;
}

#skills{
  background: var(--second-bg-color);
}

.main-text p{
  color: #42b2e6;
  margin-bottom: 15px;
  font-size: 15px;

}
#skills-part{
  align-items: center;
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  margin-top: 2rem;
}

.main-text h2{
  line-height: 1;
  font-size: var(--h2-font);
}
.skills-card-img i{
  margin-bottom: 20px;
  font-size: 32px;
}

.skills-card{
  text-align: center;
  background: var(--bg-color);
  padding: 35px 25px;
  border-radius: 8px;
  justify-content: center;
  transition: all .45s ease;
}

.skills-card p{
  color: var(--second-color);
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 25px;
}

.skills-card h3{
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 15px;
  text-align: center;
}
.read:hover{
  letter-spacing: 1px;
  background: #ffffff99;
  color: var(--text-color);
}
.read{
  display: inline-block;
  font-size: 14px;
  padding: 8px 18px;
  color: var(--second-color);
  font-weight: 500;
  border-radius: 8px;
  background: #42b2e6;
  transition: all .45s ease;
}
.skills-card:hover{
  transform: translateY(-8px);
  cursor: pointer;
}

/* github  */

#stat {
  margin-top: 50px;
  justify-content: space-between;
  display: flex;
  gap:10px;
}

#github-top-langs{
  height: 196px;
  border: 0px solid crimson;
  margin-top: -10%;
  
}
.max-width{
  width: 80%;
  margin-top: 50px;
  margin: auto;
}


/* Projects */

.project-card{
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

#nav-link-projects{
  display: grid;
  align-items: center;
  gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, auto));
  margin-top: 2rem;
}


.layer{
  width: 100%;
  border-radius: 8px;
  height: 0;
  position:absolute;
  overflow: hidden;
  left: 0;
  bottom: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0,0,0,0.1), #42b2e6);
  justify-content: center;
  align-items: center;
  transition: height 0.5s;
  padding: 0 40px;
}

.layer h5{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
.project-card img{
  display: block;
  border-radius: 8px;
  transition: transform 0.5s;
  width: 100%;
}

.layer p{
  color: var(--second-color);
  font-size: 1rem;
  line-height: 1.8;
}
.layer i{
  color: var(--main-color);
  background: var(--text-color);
  margin-top: 20px;
  font-size: 20px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  border-radius: 50%;
}
.project-card:hover img{
  transform: scale(1.1);
}
.project-card:hover .layer{
  height: 100%;
}

/* Github */


#stat {
  margin-top: 50px;
  justify-content: space-between;
  display: flex;
  gap:10px;
}
.max-width{
  width: 80%;
  margin: auto;
  margin-top: 50px;
}
#github-top-langs{
  border: 0px solid #42b2e6;
  margin-top: -10%;
  height: 196px;
}

/* contatct */

.nav-link-contact h4{
  color: var(--text-color);
  margin: 18px 0;
  font-size: 20px;
  font-weight: 600;
}

#contact{
  background: #202020;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 2.5rem;
}

.nav-link-contact h2{
  font-size: var(--h2-font);
  line-height: 1;
}
.list{
  margin-bottom: 2.8rem;
}
.list li{
  margin-bottom: 12px;
}
.list li a{
  display: block;
  color: var(--second-color);
  font-size: 14px;
  transition: all .45s ease;
}

.nav-link-contact p{
  font-size: var(--p-font);
  color: var(--second-color);
  line-height: 1.8;
  margin-bottom: 30px;
}
.list li a:hover{
  color: var(--text-color);
  transform: translateX(5px);
}

/* Contact side */

.contact-icons i{
  height:  45px;
  width: 45px;
  background: var(--main-color);
  color: var(--text-color);
  font-size: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-right: 15px;
  transition: all .45s ease;
}
.contact-icons i:hover{
  background-color: var(--text-color);
  color: var(--main-color);
}
.contact-form form input, form textarea{
  width: 100%;
  padding: 14px;
  background: var(--bg-color);
  color: var(--text-color);
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
}
.contact-form form{
  position: relative;
}
.contact-form textarea{
  resize: none;
  height: 240px;
}
.contact-form .submit{
  display: inline-block;
  font-size: 16px;
  background: var(--main-color);
  color: var(--text-color);
  width: 160px;
  transition: all .45s ease;
}
.contact-form .submit:hover{
  transform: scale(1.1);
  cursor: pointer;
}

/* End  part*/
.last p{
  color: var(--second-color);
  font-size: 14px;
}
.end{
  padding: 20px 15%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background: var(--bg-color);
}
.top i{
  padding: 10px;
  border-radius: 8px;
  font-size: 35px;
  color: var(--text-color);
  background: var(--main-color);
}

/* media query for all */


@media (max-width:1480px){
    header{
        padding: 12px 2.5%;
        transition: .1s;
    }
    header.sticky{
        padding: 10px 2.5%;
        transition: .1s;
    }
    section{
        padding: 110px 3% 60px;

    }
    .end{
        padding: 15px 3%;
    }
    #calendar{
        width: 100%;
  
    }
    .ht1{
        width: 100%;
        
     }
     #github-top-langs{
        border: 0px solid rgb(185, 65, 89);
        height: 195px;
        margin-top: -9%;
      }
     
}

@media (max-width: 1100px){
    :root{
        --big-font: 4rem;
        --h2-font: 2.5rem;
        --p-font: 1rem;
        transition: .1s;
        
    }
    .home-text h3{
        font-size: 2.5rem;
    }
    #home{
        height: 87vh;
    }
    #stat {
        margin-top: 50px;
        display: grid;
        justify-content: space-between;
      }
      #calendar{
        width: 100%;
    }
    .ht1{
        width: 100%;
        
     }
     #nav-link-projects{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, auto));
       
    }
    #github-top-langs{
        border: 0px solid crimson;
        height: 195px;
        margin-top: 0px;
      }
}
@media (max-width:920px){
    #about{
        grid-template-columns: 1fr;
    }
    .about-img{
        margin: auto;
        order: 2;
        width: 150px;
        height: 220px;
    }
    .about-img img{
        width: 100%;
        height: auto;
        max-width:100%
    }
    #contact{
        grid-template-columns: 1fr;
    }
    #stat {
        margin-top: 50px;
        display: grid;
        justify-content: space-between;
      }
      #calendar{
        width: 100%;
    }
    .ht1{
        width: 100%;
        
     }
     #nav-link-projects{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, auto));
       
    }
    
}

@media (max-width:840px){

    #menu-icon{
        display: block;
        font-size: 20px;
    }
    .navlist{
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        text-align: left;
        transition: all .45s ease;

    }
    .navlist a{
        display: block;
        margin: 17px;
        font-size: 20px;
        transition: all .45s ease;
        color: var(--text-color);
    }
    .navlist a.active{
        color: var(--text-color);
    }
    .navlist a:hover{
        color: var(--main-color);
    }
    .navlist.open{
        top:100%;
    }
    #calendar{
        width: 100%;
    }
    .ht1{
       width: 100%;
       
    }
    #stat {
       
        display: grid;
      }
     #nav-link-projects{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
       
    }
}


/* dropDown menu */

.dropdown-toggle {
  background-color: #42b2e6;
  display: inline-block;
  cursor: pointer;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.dropdown-menu {
  position: absolute;
  overflow-y: auto;
  top: 40px;
  left: 0;
  width: 100%;
  background-color: #070707;
  border-radius: 5px;
  border: 1px solid #ccc;
  max-height: 500px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.dropdown-item {
  cursor: pointer;
  padding: 10px 15px;
  border-bottom: 1px solid #42b2e6;
  color:"green"
}


.dropdown-item:last-child {
  border-bottom: none;
}